<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Update fruit</h1>
  <form action="/fruits/update/{{fruit.id}}" method="post">
        {% csrf_token%}
        <label for="name">Name:</label>
        <input name="name" id="name" type="text" placeholder="name:" value="{{fruit.name}}">

        <label for="isReadyToEat">Ready to eat?</label>
        <input name="isReadyToEat" id="isReadyToEat" type="checkbox" placeholder="Ready to eat?" {% if fruit.is_ready_to_eat%} checked {% endif%}>

        <button>Create fruit</button>

    </form>
    
</body>
</html>